<h1>Log In</h1>
<hr>
<p class="bg-danger text-danger" *ngIf="errorMessage" style="padding: 10px;">{{errorMessage}}</p>
<form (ngSubmit)="login()">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="email" required>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="password" required>
  </div>

  <button type="submit" class="btn btn-default">Log In</button>
  <button class="btn btn-default">Reset</button>
</form>
